.compétences {
    background-color: #e3e3e3;
    padding: 50px;
}

.compétences hr {

    color: #f5f5f5;
}

.border_stars {
    display: flex;
    justify-content: space-between; /* texte à gauche, étoiles à droite */
    align-items: center;  
}

.francais_flex { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anglais_flex { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anglais_flex p { 
    font-size: large;
}

.francais_flex p { 
    font-size: large;
}

.qualités ul,
.loisirs ul {
    list-style: none;       
    padding-left: 1.5em;    
    margin: 0;
}


.qualités li,
.loisirs li {
    font-family: Raleway, sans-serif;
    position: relative;     
    color: black;          
    margin-bottom: 0.5em;   
    font-size: large;
}


.qualités li::before,
.loisirs li::before {
    content: "\25AA";     
    color: #17abb3;           
    font-size: 3em;      
    position: absolute;
    left: -0.5em;           
    top: -0.4em;                 
}
