@font-face {
  font-family: "Lato";
  src:
    local("Lato"),
    url("Lato-Regular.otf") format("opentype"),
    url("Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  src:
    local("Raleway"),
    url("Raleway-Regular.otf") format("opentype"),
    url("Raleway-Regular.woff") format("woff");
}